<div class="modal-content mosaico-modal">
    <div class="modal-header display-flex justify-content-end">
        <!--begin::Close-->
        <div class="close-button-container">
            <button class="btn btn-icon btn-sm btn-active-light-dark ms-2" (click)="activeModal.dismiss(false)" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <!--end::Close-->
    </div>

    <div class="modal-body">
        <div class="row mosaico-form">
            <div class="col-12">
                
                <ng-container>
                    <div class="d-flex justify-content-center align-items-center pb-5">
                        <img src="/assets/media/misc/checkmark.png" alt="noun-exchange icon">
                    </div>
                    <p  class="claim-title">{{ successText }}</p>
                    <div class="claim-description">
                        <p class="ms-2">{{ detailsText }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="modal-footer modal-btn-actions">

    </div>
</div>