<div class="check_open_positions--wrapper">
    <div class="check_open_positions--iframe-container">
        <iframe src="https://www.youtube.com/embed/fJHIDiTksuo" title="mosaico-team"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="check_open_positions--container">
        <div class="check_open_positions--text">
            <p class="check_open_positions--title d-none d-md-block" [innerHTML]="'JOIN_ADVENTURE.TITLE' | translate">
            </p>
            <p class="check_open_positions--description">{{ 'JOIN_ADVENTURE.DESCRIPTION' | translate }}</p>
            <a href="https://holdingsapiency.traffit.com/career/" target="_blank" class="btn open-positions-btn">{{
                'JOIN_ADVENTURE.CHECK_OUT_POSITIONS' | translate }}</a>
        </div>
        <div>
            <p class="check_open_positions--title d-block d-md-none mb-8"
                [innerHTML]="'JOIN_ADVENTURE.TITLE' | translate"></p>
            <img src="/assets/media/our-team/AgnieszkaSutowicz.png" alt="Agnieszka Sutowicz"
                class="check_open_positions--img">
        </div>
    </div>
</div>