table.stages-table {
    border: 1px solid #DFE0EB;
    border-collapse: collapse;
    margin-bottom: 0;
    thead {
        tr{
            th {
                background-color: rgba(223, 224, 235, 0.3);
                color: #494642;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                font-weight: bold;
            }
        }
    }
    tbody {
        border-top: 1px solid #DFE0EB;
        tr {
            td {
                border: 1px solid #DFE0EB;
                text-align: center;
                color: #494642;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }
        }
    }
}
