.modal-content {
  position: relative;
  
  .modal-header {
    border-bottom: none;
    
    .modal-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .btn-close {
    position: absolute;
    right: 24px;
    top: 18px;
    z-index: 2;
  }

  .modal-footer {
    border-top: none;
  }
}
