<div class="card border-card">
    <div class="card-header">
      <h3 class="card-title">{{'PROJECT_OVERVIEW.FEATURES.TITLE'|translate}}</h3>
      <div class="card-toolbar" *ngIf="canEdit && token">
        <button type="button" class="btn btn-sm btn-active-light" routerLink="settings/tokenomy">
          {{'PROJECT_OVERVIEW.ACTIONS.EDIT'|translate}}
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="features-table">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                {{'PROJECT_OVERVIEW.FEATURES.POS'| translate}} <a [href]="'PROJECT_OVERVIEW.LINKS.POS'| translate" target="_blank"><i role="button" class="fas fa-info-circle"></i></a>
            </div>
            <div class="d-flex align-items-end flex-column justify-content-center">
                <ng-container *ngIf="token?.isStakingEnabled === true; else unavailableTmpl">
                    <div>{{'PROJECT_OVERVIEW.FEATURES.STATES.AVAILABLE'|translate}}</div>
                    <div *ngIf="token?.stakingStartsAt && token?.stakingStartsAt?.length > 0"><small><i class="fas fa-calendar-alt"></i> {{token?.stakingStartsAt|date}}</small></div>
                </ng-container>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center justify-content-end">
                {{'PROJECT_OVERVIEW.FEATURES.VESTING'|translate}} <a [href]="'PROJECT_OVERVIEW.LINKS.VESTING'| translate" target="_blank"><i role="button" class="fas fa-info-circle"></i></a>
            </div>
            <div>
                <ng-container *ngIf="token && token.isVestingEnabled; else unavailableTmpl">{{'PROJECT_OVERVIEW.FEATURES.STATES.AVAILABLE'|translate}}</ng-container>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                {{'PROJECT_OVERVIEW.FEATURES.MINT'|translate}} <a [href]="'PROJECT_OVERVIEW.LINKS.MINT'| translate" target="_blank"><i role="button" class="fas fa-info-circle"></i></a>
            </div>
            <div>
                <ng-container *ngIf="token && token.isMintable; else disabledTmpl">{{'PROJECT_OVERVIEW.FEATURES.STATES.ENABLED'|translate}}</ng-container>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                {{'PROJECT_OVERVIEW.FEATURES.BURN'|translate}} <a [href]="'PROJECT_OVERVIEW.LINKS.BURN'| translate" target="_blank"><i role="button" class="fas fa-info-circle"></i></a>
            </div>
            <div>
                <ng-container *ngIf="token && token.isBurnable; else disabledTmpl">{{'PROJECT_OVERVIEW.FEATURES.STATES.ENABLED'|translate}}</ng-container>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                {{'PROJECT_OVERVIEW.FEATURES.INVESTMENT_PACKAGES'|translate}} <a [href]="'PROJECT_OVERVIEW.LINKS.INVESTMENT_PACKAGES'| translate" target="_blank"><i role="button" class="fas fa-info-circle"></i></a>
            </div>
            <div>
                <ng-container *ngIf="hasPackages; else unavailableTmpl">{{'PROJECT_OVERVIEW.FEATURES.STATES.AVAILABLE'|translate}}</ng-container>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                {{'PROJECT_OVERVIEW.FEATURES.DEFLATION'| translate}} <a [href]="'PROJECT_OVERVIEW.LINKS.DEFLATION'| translate" target="_blank"><i role="button" class="fas fa-info-circle"></i></a>
            </div>
            <div>
                <ng-container *ngIf="token && token.isDeflationary; else unavailableTmpl">{{'PROJECT_OVERVIEW.FEATURES.STATES.AVAILABLE'|translate}}</ng-container>
            </div>
        </div>
      </div>
    </div>
</div>
<ng-template #unavailableTmpl>
    {{'PROJECT_OVERVIEW.FEATURES.STATES.UNAVAILABLE'|translate}}
</ng-template>
<ng-template #disabledTmpl>
    {{'PROJECT_OVERVIEW.FEATURES.STATES.DISABLED'|translate}}
</ng-template>
