<div class="section-width-full pb-20">
  <div class="section-iwu">
    <div class="row">
      <div class="col-12 col-xl-6 order-1">
        <h2 class="section-title">{{'SALES_SECTION.TITLE'|translate}}</h2>
      </div>
    </div>
    <div class="row order-3 pb-10">
      <div class="col-12 col-md-6">
       <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
          <img src="/assets/media/mainpage/contactsales/head1.png">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 mt-18">
          <p class="fs-3 fw-bold mb-1">Radosław Ordyniec</p>
          <p class="mb-0">Issuer Management</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-18 ps-5">
          <p class="mb-3"><i class="fa fa-phone-alt"></i>+48 530 979 330</p>
          <p><i class="far fa-envelope"></i> radek@mosaico.ai</p>
        </div>
       </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <img src="/assets/media/mainpage/contactsales/head2.png">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 mt-18">
            <p class="fs-3 fw-bold mb-1">Przemysław Kołaziński</p>
            <p class="mb-0">Investor Management</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 mt-18 ps-5">
            <p class="mb-3">
              <i class="fa fa-phone-alt"></i>
              +48 530 819 851
            </p>
            <p><i class="far fa-envelope"></i> przemek@mosaico.ai</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>