<ul class="list-group list-group-horizontal justify-content-end">
  <li class="list-group-item border-0 bg-transparent p-0 pr-2">
    <a href="javascript:" (click)="selectLang(currentLangLanguageEnum.PL)" rel="noopener">
      <!-- <img src="assets/images/flag_pl.png" /> -->
      PL
    </a>
  </li>
  <li class="list-group-item border-0 bg-transparent p-0 pl-2">
    <a href="javascript:" (click)="selectLang(currentLangLanguageEnum.EN)" rel="noopener">
      <!-- <img src="assets/images/flag_us.png" /> -->
      EN
    </a>
  </li>
</ul>
