.short-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 40%;
}

.card-header {
  padding-left: 0;

  .card-title {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #494642;
  }
}
.card-body {
  .label, label {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #494642;
  }
}
