<div class="row mt-5">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">Funds</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-distribution (refreshRequested)="onRefreshRequested($event)" [service]="service"></app-distribution>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">Project stages</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-stage-editing (refreshRequested)="onRefreshRequested($event)" [service]="service"></app-stage-editing>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5" *ngIf="dataLoaded === true">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">Reserve</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-reserve [service]="service"></app-reserve>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">Tokenomy</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </div>
</div>