p {
    margin: 0;
}

.project-news-card {
    &__container {
        padding: 16px 0 12px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #DFE0EB;
        
        @media screen and (min-width: 576px) {
            flex-direction: row;
            padding: 16px 0;
            gap: 16px;
        }
        @media screen and (min-width: 992px) {
            padding: 24px 100px;
        }
        @media screen and (min-width: 1160px) {
            padding: 24px 192px;
        }
        
        .cover-picture {
            width: 100%;
            min-width: 200px;
            height: 160px;
            min-height: 160px;
            object-fit: cover;
            border-radius: 4px;

            @media screen and (min-width: 576px) {
                width: 200px;
                border-radius: 8px;
            }
        }

        .fa-youtube {
            width: 24px;
            height: 17px;
        }

        .hide {
            color: #979797 !important;
        }

        .img-hidden {
            opacity: 0.5;
        }

        .hidden-content {
            display: flex;
            align-items: center;
            gap: 8px;
            position: absolute;
            top: calc(50% - 11px);
            right: calc(50% - 36px);

            .hide-icon {
                color: #FCFCFC;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                color: #FCFCFC;
            }
        }
    }

    &__date {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #979797;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #494642;
        margin: 15px 0 7px;

        @media screen and (min-width: 576px) {
            margin: 14px 0 16px;
        }
        @media screen and (min-width: 992px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__link {
        display: block;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #0063F5;

        @media screen and (min-width: 576px) {
            margin-bottom: 10px;
        }
    }

    &__count {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #979797;
        margin-top: 4px;
    }
}
