<div class="dream_team--container">
    <div class="dream_team--text">
        <p class="dream_team--title d-none d-lg-block">Mosaico <span class="title-mosaico">Dream</span> Team</p>
        <p class="dream_team--subtitle">{{ 'DREAM_TEAM.SUBTITLE' | translate }}</p>
        <p class="dream_team--description">{{ 'DREAM_TEAM.DESCRIPTION' | translate }}</p>
        <app-meet-team-social-links [socialMediaIcons]="socialMediaIcons"></app-meet-team-social-links>
    </div>

    <div>
        <p class="dream_team--title d-block d-lg-none">Mosaico <span class="title-mosaico">Dream</span> Team</p>
        <img src="/assets/media/our-team/RahimBlak-CEO.png" alt="Rahim Blak">
    </div>
</div>