<ng-template #content let-modal>
    <div class="modal-content mosaico-modal">
        <div class="modal-header">
            <h5 class="modal-title">Vesting</h5>

            <!--begin::Close-->
            <div class="close-button-container">
                <button class="btn btn-icon btn-sm btn-active-light-dark ms-2" (click)="modal.dismiss(false)"
                    aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!--end::Close-->
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="form" class="form mosaico-form" novalidate="novalidate">
                        <div class="form-check form-switch form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" [checked]="token?.isVestingEnabled === true"
                              formControlName="isEnabled" id="isEnabled"
                            />
                            <label class="form-check-label" for="isEnabled">
                                Enable
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-mosaico-primary" (click)="save()">Enable</button>
        </div>
    </div>
</ng-template>