<ng-template #content let-modal>
    <div class="modal-content mosaico-modal">
        <div class="modal-header">
            <h5 class="modal-title">{{'AUTH.VALIDATION.PASSWORD_REQUIRED' | translate }}</h5>
            <div class="close-button-container">
                <button class="btn btn-icon btn-sm btn-active-light-dark ms-2" (click)="modal.dismiss(false)" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="modal-body">
            <div class="row mosaico-form" [formGroup]="form">
                <div class="col-12">
                    <div class="form-group mb-5">
                        <label class="form-label">{{'AUTH.INPUT.PASSWORD' | translate }}</label>
                        <input type="password" name="password" formControlName="password" class="form-control"
                            placeholder="{{'USERPROFILE.key.current.password.placeholder' | translate}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer d-block">
            <button type="button" class="btn btn-mosaico-primary" (click)="submit()">{{'AUTH.GENERAL.SUBMIT_BUTTON' | translate
                }}</button>
            <button type="button" class="btn btn-mosaico-outline-primary" (click)="modal.dismiss(false)">{{'AUTH.GENERAL.CANCEL_BUTTON' |
                translate }}</button>
        </div>
    </div>
</ng-template>
