<div class="card" *ngIf="isLoaded && link && link.length > 0">
    <div class="card-body" ngxClipboard [cbContent]="link" (cbOnSuccess)="onCopied()">
        <div class="row">
            <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="card-icon d-flex align-items-center justify-content-center me-5">
                      <i class="fas fa-rocket" appBaseColors [iconAwesome]="true"></i>
                    </div>
                    <div class="card-icon-title me-5">
                      {{'PROJECT_OVERVIEW.SIDEBAR.ADDRESS'|translate}}:
                      <span class="card-blockchain-address">{{link | addressType}}</span>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="card-icon-action"><i class="fas fa-copy"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
