<div class="row mosaico-form" [formGroup]="form ">
    <div class="col-12 col-lg-6">
        <label class="d-flex flex-stack mb-5 cursor-pointer">
            <span class="d-flex align-items-center me-2">
                <span class="symbol symbol-50px me-6">
                    <span class="symbol-label  fw-bold bg-primary">
                        <i class="fas fa-user-cog fs-2 text-inverse-primary"></i>
                    </span>
                </span>
                <span class="d-flex flex-column">
                    <span class="fw-bolder fs-6">{{'NEW_TOKEN.TOKEN_TYPES.UTILITY'|translate}}</span>
                    <span class="fs-7 text-muted">{{'NEW_TOKEN.TOKEN_TYPES.UTILITY_HINT'|translate}}</span>
                </span>
            </span>
            <span class="form-check form-check-custom form-check-solid">
                <input class="form-check-input" type="radio" name="type" formControlName="type" value="UTILITY"/>
            </span>
        </label>
    </div>
    <div class="col-12 col-lg-6">
        <label class="d-flex flex-stack mb-5 cursor-pointer">
            <span class="d-flex align-items-center me-2">
                <span class="symbol symbol-50px me-6">
                    <span class="symbol-label fw-bold bg-danger">
                        <i class="far fa-file-alt fs-2 text-inverse-danger"></i>
                    </span>
                </span>
                <span class="d-flex flex-column">
                    <span class="fw-bolder fs-6">{{'NEW_TOKEN.TOKEN_TYPES.SECURITY'|translate}}</span>
                    <span class="fs-7 text-muted">{{'NEW_TOKEN.TOKEN_TYPES.SECURITY_HINT'|translate}}</span>
                </span>
            </span>
            <span class="form-check form-check-custom form-check-solid">
                <input class="form-check-input" type="radio" name="type" formControlName="type" value="SECURITY"/>
            </span>
        </label>
    </div>
</div>
