<div class="div-icons-sm">

  <div class="social-icon">
    <a href="https://t.me/mosaico_ai"
      *ngIf="currentLang === languageEnum.PL"
      title="Telegram"
      id="contact-fa-telegram-pl"
      class="text-info" target="_blank" rel="nofollow noopener">
      <!-- <i class="fab fa-telegram-plane fa-lg fa-fw"></i> -->
      <span [inlineSVG]="'/assets/media/footer/Telegram.svg'"  class="svg-icon me-2" alt="Telegram"></span>
    </a>
    <a href="https://t.me/MosaicoGroup"
      *ngIf="currentLang === languageEnum.EN"
      title="Telegram"
      id="contact-fa-telegram-en"
      class="text-info" target="_blank" rel="nofollow noopener">
      <!-- <i class="fab fa-telegram-plane fa-lg fa-fw"></i> -->
      <span [inlineSVG]="'/assets/media/footer/Telegram.svg'"  class="svg-icon me-2" alt="Telegram"></span>
    </a>
  </div>

  <div class="social-icon">
    <a href="https://www.youtube.com/channel/UC_LoCnA77TmWGHw_I9NAu9g"
      title="YouTube"
      id="contact-fa-yt"
      class="text-info" target="_blank" rel="nofollow noopener">
      <!-- <i class="fab fa-youtube fa-lg fa-fw"></i> -->
      <span [inlineSVG]="'/assets/media/footer/YouTube.svg'"  class="svg-icon me-2" alt="YouTube"></span>
    </a>
  </div>

  <div class="social-icon">
    <a href="https://www.linkedin.com/company/mosaicoai"
      title="LinkedIn"
      id="contact-fa-linkedin"
      class="text-info" target="_blank" rel="nofollow noopener">
      <!-- <i class="fab fa-linkedin-in fa-lg fa-fw"></i> -->
      <span [inlineSVG]="'/assets/media/footer/LinkedIn.svg'"  class="svg-icon me-2" alt="LinkedIn"></span>
    </a>
  </div>

  <div class="social-icon">
    <a href="https://www.facebook.com/mosaicoai"
      title="Facebook"
      id="contact-fa-fb"
      class="text-info" target="_blank" rel="nofollow noopener">
      <!-- <i class="fab fa-facebook-f fa-lg fa-fw"></i> -->
      <span [inlineSVG]="'/assets/media/footer/Facebook.svg'"  class="svg-icon me-2" alt="Facebook"></span>
    </a>
  </div>
  <div class="social-icon">
    <a href="https://twitter.com/Mosaico_ai"
      title="Twitter"
      id="contact-fa-twitter"
      class="text-info" target="_blank" rel="nofollow noopener">
      <!-- <i class="fab fa-twitter fa-lg fa-fw"></i> -->
      <span [inlineSVG]="'/assets/media/footer/Twitter.svg'"  class="svg-icon me-2" alt="Twitter"></span>
    </a>
  </div>
  <div class="social-icon">
    <a href="https://www.instagram.com/mosaico.ai"
      title="Instagram"
      id="contact-fa-instagram"
      class="text-info" target="_blank" rel="nofollow noopener">
      <!-- <i class="fab fa-instagram fa-lg fa-fw"></i> -->
      <span [inlineSVG]="'/assets/media/footer/Instagram.svg'"  class="svg-icon me-2" alt="Instagram"></span>
    </a>
  </div>
  <div class="social-icon social-icon-end">
    <a href="https://mosaico-ai.medium.com/"
      title="Medium"
      id="contact-fa-medium"
      class="text-info" target="_blank" rel="nofollow noopener">
      <!-- <i class="fab fa-medium fa-lg fa-fw"></i> -->
      <span [inlineSVG]="'/assets/media/footer/Medium.svg'"  class="svg-icon me-2" alt="Medium"></span>
    </a>
  </div>
</div>
