<div class="card token-wallet-card" *ngIf="token">
    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div class="d-flex me-5">
                        <div class="symbol symbol-40px symbol-circle">
                            <div class="symbol-label no-bg" *ngIf="token.logoUrl && token.logoUrl.length > 0" style="background-image:url({{token.logoUrl}})"></div>
                            <div class="symbol-label fs-4 fw-bold text-dark" *ngIf="!token.logoUrl || token.logoUrl.length == 0">{{token.symbol | slice: 0:1}}</div>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="token-name">{{token.name}}</div>
                        <div class="token-symbol">{{token.symbol}}</div>
                    </div>
                    <div class="token-network">
                        <div class="symbol symbol-30px">
                            <div class="symbol-label" style="background-image:url({{networks[token.network]}})"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-5 align-items-center flex-row token-total-value">
                    <div class="me-4">{{token.balance | number: '1.0-6': 'en'}}</div>
                    <div>{{token.symbol}}</div>
                </div>
                <div class="d-flex align-items-center flex-row token-amount">
                    <div class="me-4">~ {{token.totalAssetValue | number: '1.0-2': 'en'}}</div>
                    <div>{{token.currency}}</div>
                </div>
                <!-- <div class="d-flex mt-5 align-items-center flex-column flex-md-row gap-3">
                    <button class="btn btn-sm btn-mosaico-primary me-md-5 me-0" *ngIf="token.isExchangable">{{'USER_WALLET.PANEL.ASSETS.ACTIONS.EXCHANGE'|translate}}</button>
                    <button class="btn btn-sm btn-mosaico-primary-outline me-md-5 me-0" *ngIf="token.isStakable">{{'USER_WALLET.PANEL.ASSETS.ACTIONS.STAKE'|translate}}</button>
                </div> -->
            </div>
        </div>
    </div>
</div>