.card {
    padding: 16px !important;

    .card-body {
        &:hover {
            cursor: pointer;
        }

        .card-icon {
          i {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 32px;
            height: 32px;
            border-radius: 10px;
            background-color: #494642;
            font-size: 18px;
            color: white;
          }
        }

        .card-icon-title {
            color: #494642;
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;
        }

        .card-icon-action {
            i {
                color: #C0BEBE;
                font-size: 18px;
            }
        }
    }
}

.exchange-type {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #D0D1D2;
}
.exchange-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #11263C;
}
