<div class="about-us-wrapper">
    <div class="bg-1">
        <app-dream-team></app-dream-team>
        <app-company-structure></app-company-structure>
    </div>
    <app-check-open-positions></app-check-open-positions>
    <div class="bg-2">
        <img src="/assets/media/mainpage/sliced-triangle.png" alt="" class="d-none d-lg-block">
        <app-check-out-whitepaper></app-check-out-whitepaper>
        <app-company-road-map></app-company-road-map>
    </div>
    <app-get-in-touch></app-get-in-touch>
    <app-contact-our-sales></app-contact-our-sales>
</div>