<div class="section-width-full">
  <div class="full-bg">
    <div class="section-iwu">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title text-white">{{'PILLARS.TITLE'| translate}}</h2>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg-4 px-lg-5">
              <h2 class="display-5 fw-light text-warning">
                01 <span class="fs-1 fw-bolder text-white">DAO</span>
              </h2>
              <p class="text-light">{{'PILLARS.DAO.DESC' | translate}}</p>
            </div>
            <div class="col-lg-4 px-lg-5">
              <h2 class="display-5 fw-light text-warning">
                02 <span class="fs-1 fw-bolder text-white">IDO</span>
              </h2>
              <p class="text-light">
                {{'PILLARS.IDO.DESC' | translate}}
              </p>
            </div>
            <div class="col-lg-4 px-lg-5">
              <h2 class="display-5 fw-light text-warning">
                03 <span class="fs-1 fw-bolder text-white">DEX</span>
              </h2>
              <p class="text-light">
                {{'PILLARS.DEX.DESC' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
