<div class="card card-xl-stretch mb5 col-xxl-8 offset-lg-2">
  <div class="card-body pt-3">
    <div class="row align-items-center profile-header">
      <div class="flex-column">
        <form [formGroup]="form" class="form mosaico-form" novalidate="novalidate">
          <div class="form-group mb-5">
            <label class="form-label">{{'USERPROFILE.old.password' | translate}}</label>
            <input type="password" name="oldPassword" formControlName="oldPassword" [ngClass]="{ 'is-invalid': isDirty('oldPassword') && hasErrors('oldPassword') }"
                class="form-control" placeholder="{{'USERPROFILE.old.password' | translate}}" />
            <div class="invalid-feedback" *ngIf="isDirty('oldPassword') && hasErrors('oldPassword')">{{'USERPROFILE.old.password.invalid' | translate}}</div>
          </div>

          <div class="form-group mb-5">
            <label class="form-label">{{'USERPROFILE.new.password' | translate}}</label>
            <input type="password" name="newPassword" formControlName="newPassword" [ngClass]="{ 'is-invalid': isDirty('newPassword') && hasErrors('newPassword') }"
                class="form-control" placeholder="{{'USERPROFILE.new.password' | translate}}" />
            <div class="invalid-feedback" *ngIf="isDirty('newPassword') && hasErrors('newPassword')">{{'USERPROFILE.new.password.invalid' | translate}}</div>
          </div>

          <div class="form-group mb-5">
            <label class="form-label">{{'USERPROFILE.confirm.new.password' | translate}}</label>
            <input type="password" name="confirmNewPassword" formControlName="confirmNewPassword" [ngClass]="{ 'is-invalid': isDirty('confirmNewPassword') && hasErrors('confirmNewPassword') }"
                class="form-control" placeholder="{{'USERPROFILE.confirm.new.password' | translate}}" />
            <div class="invalid-feedback" *ngIf="isDirty('confirmNewPassword') && hasErrors('confirmNewPassword')">{{'USERPROFILE.confirm.password.invalid' | translate}}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer ps-0 pb-0">
    <button type="button" [disabled]="form.disabled" (click)="save()" class="btn btn-mosaico-primary me-5">
      {{'BUTTONS.btn.save' | translate}}
    </button>
  </div>
</div>
