<div class="buttons-follow-share d-flex flex-wrap">
  <!-- <ng-container>
    <div class="div-btn-follow">
      <div class="d-flex align-items-center">
        <button class="btn btn-follow" type="button" (click)="openModalSubscriptionToNewsletter()">
          {{(isUserSubscribeProject === true ? 'HEADER.BUTTON_NO_FOLLOW_US' : 'HEADER.BUTTON_FOLLOW_US') | translate }}
          <img class="img-svg" src="assets/media/marketplace/bell-inactive.svg" alt="Follow us" />
        </button>
      </div>
    </div>
    <div class="div-btn-share" role="button" ngxClipboard [cbContent]="currentLink" (cbOnSuccess)="onCopied()">
      <div class="d-flex align-items-center">
        <div>Share</div>
        <img class="img-svg" src="assets/media/marketplace/share-line.svg" alt="Follow us" />
      </div>
    </div>
  </ng-container> -->
</div>
