.section-width-full {
  background-color: #FFFFFF;
}

.section-iwu {

  max-width: 1320px;
  margin: 0 auto;
  background-color: #FFFFFF;

  padding-top: 64px;
  padding-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: 576px) {
    padding-left: 48px;
    padding-right: 38px;
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 50px;
  }
}

.section-title {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;

  font-size: 24px;
  line-height: 24px;

  text-align: left;
  margin-bottom: 48px;

  @media (min-width: 576px) {
    text-align: center;
    font-size: 35px;
    line-height: 30px;
  }
  @media (min-width: 992px) {
    text-align: left;
    font-size: 40px;
    line-height: 34px;
  }
}

.icon-title-list {
  margin-bottom: 32px;
}

.icon {
  margin-right: 20px;

  @media (min-width: 576px) {
    margin-right: 32px;
  }
  @media (min-width: 992px) {
    margin-right: 64px;
  }

}

.icon-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

  font-size: 16px;
  @media (min-width: 576px) {
    font-size: 20px;
  }
}

ul {
  margin-left: 1.8rem;
  margin-bottom: 0;
}

li {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(73, 70, 66, 0.7);

  i {
    color: rgba(67, 67, 67, 0.5);
  }
}

.fa-li {
  width: 3rem;
  left: -2.5em;
}

.li-text {
  // margin-left: 12px;
}


.col-left {
  width: 100%;
  @media (min-width: 992px) {
    width: 50%;
  }
}

.col-right {
  width: 100%;
  @media (min-width: 992px) {
    width: 50%;
  }
}

.col-icons-in {
  max-width: 500px;
  margin: 0 auto;

  @media (min-width: 992px) {
    max-width: none;
  }
}

.col-img-in {

  text-align: center;
  @media (min-width: 992px) {
    text-align: right;
  }

  img {
    max-width: 400px;
    width: 100%;
    @media (min-width: 992px) {
      max-width: 90%;
    }
  }
}
