<div class="section-width-full">
  <div class="section-iwu">

    <div class="row">

      <div class="col-12 col-xl-6 order-1">
        <h2 class="section-title">{{'IWU.title' | translate}}</h2>
      </div>
      <div class="col-12 col-xl-6 order-2">
      </div>

      <div class="col-left order-3">
        <div class="col-icons-in">
          <div class="icon-title-list d-flex">
            <div class="icon">
              <img src="assets/media/mainpage/icon-1-iwu.svg" alt="" class="img" title="" />
            </div>
            <div>
              <h4 class="icon-title">{{'IWU.icon_1_title' | translate}}</h4>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check fa-xs"></i></span> <span class="li-text">{{'IWU.icon_1_li_2' | translate}}</span></li>
                <li><span class="fa-li"><i class="fas fa-check fa-xs"></i></span> <span class="li-text">{{'IWU.icon_1_li_3' | translate}}</span></li>
                <li><span class="fa-li"><i class="fas fa-check fa-xs"></i></span> <span class="li-text">{{'IWU.icon_1_li_4' | translate}}</span></li>
              </ul>
            </div>
          </div>
          <div class="icon-title-list d-flex">
            <div class="icon">
              <img src="assets/media/mainpage/icon-2-iwu.svg" alt="" class="img" title="" />
            </div>
            <div>
              <h4 class="icon-title">{{'IWU.icon_2_title' | translate}}</h4>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check fa-xs"></i></span> <span class="li-text">{{'IWU.icon_2_li_2' | translate}}</span></li>
                <li><span class="fa-li"><i class="fas fa-check fa-xs"></i></span> <span class="li-text">{{'IWU.icon_2_li_3' | translate}}</span></li>
                <li><span class="fa-li"><i class="fas fa-check fa-xs"></i></span> <span class="li-text">{{'IWU.icon_2_li_4' | translate}}</span></li>
              </ul>
            </div>
          </div>
          <div class="icon-title-list d-flex">
            <div class="icon">
              <img src="assets/media/mainpage/icon-3-iwu.svg" alt="" class="img" title="" />
            </div>
            <div>
              <h4 class="icon-title">{{'IWU.icon_3_title' | translate}}</h4>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check fa-xs"></i></span> <span class="li-text">{{'IWU.icon_3_li_2' | translate}}</span></li>
                <li><span class="fa-li"><i class="fas fa-check fa-xs"></i></span> <span class="li-text">{{'IWU.icon_3_li_3' | translate}}</span></li>
                <li><span class="fa-li"><i class="fas fa-check fa-xs"></i></span> <span class="li-text">{{'IWU.icon_3_li_4' | translate}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-right order-4">
        <div class="col-img-in">
          <img src="assets/media/mainpage/man-iwu-4.png" alt="" class="img-fluid" title="" />
        </div>
      </div>
    </div>
  </div>
</div>
