.form-group {
    margin-top: 8px;
}

.form-title {
    color: #494642;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}

.symbol-225px {
    .symbol-label {
        width: 225px;
        height: 225px;
    }
}

.dao-reason {
    font-size: 14px;
    color: #494642;
    text-align: center;
    max-width: 328px;
}
