<div class="row mt-5">
    <div class="col-12">
        <h4>Private sale</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-private-sale-vesting-management #privateSaleVesting></app-private-sale-vesting-management>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <h4>Personal</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-personal-vesting-management #personalVesting></app-personal-vesting-management>
    </div>
</div>