<div class="modal-content mosaico-modal">
  <div class="modal-header">
      <h5 class="modal-title"></h5>
      <div class="close-button-container">
          <button class="btn btn-icon btn-sm btn-active-light-dark ms-2" [disabled]="isLoading" (click)="activeModal.dismiss(false)" aria-label="Close">
              <i class="fas fa-times"></i>
          </button>
      </div>
  </div>

  <!-- userSubscribeProject -->
  <ng-container *ngIf="showConfirmationSubscribing === false && showConfirmationUnsubscribing === false">

    <ng-container *ngIf="isUserSubscribeProject === false else userWantsToUnsubscribe;">
      <div class="modal-body">
        <div class="div-body">

          <p class="h3 text-center mb-15">
            {{'SUBSCRIPTION_TO_NEWSLETTER.MESSAGES.INFO'|translate}}
          </p>

          <!-- not logged -->
          <ng-container *ngIf="isAuthorized === false">
            <form [formGroup]="form" class="form mosaico-form" novalidate="novalidate">
              <div class="form-group mb-5">

                <label class="form-label">
                  {{ (isAuthorized ? 'USERPROFILE.key.email' : 'USERPROFILE.key.email') | translate}}
                </label>

                <input type="text" name="email" formControlName="email"
                  [ngClass]="{ 'is-invalid': isDirty('email') && hasErrors('email') }"
                  class="form-control"
                  aria-label="Disabled input"

                  placeholder="{{'USERPROFILE.key.email.placeholder' | translate}}" />
                <div class="invalid-feedback" *ngIf="isDirty('email') && hasErrors('email')">E-mail is invalid</div>
              </div>
            </form>
          </ng-container>

        </div>
      </div>

      <div class="modal-footer mx-auto">
        <div class="modal-footer-panel-buttons">
          <button type="button" class="btn btn-mosaico-primary" [disabled]="form.disabled" (click)="subscribe()">
            {{'SUBSCRIPTION_TO_NEWSLETTER.ACTIONS.SAVE'|translate}}
          </button>
          <button type="button" class="btn btn-mosaico-primary-outline ms-7" (click)="activeModal.dismiss(false)" [disabled]="form.disabled">
            {{'SUBSCRIPTION_TO_NEWSLETTER.ACTIONS.CANCEL'|translate}}
          </button>
        </div>
      </div>

    </ng-container>

    <ng-template #userWantsToUnsubscribe>

      <div class="modal-body">
        <div class="div-body">
          <p class="h3 text-center mb-15">
            {{'SUBSCRIPTION_TO_NEWSLETTER.MESSAGES.INFO_CONFIRM_UNSUBSCRIBED'|translate}}
            </p>
        </div>
      </div>

      <div class="modal-footer mx-auto">
        <div class="modal-footer-panel-buttons">
          <ng-container *ngIf="isAuthorized === true">
            <button type="button" class="btn btn-mosaico-primary" (click)="unsubscribe()">
              {{'SUBSCRIPTION_TO_NEWSLETTER.ACTIONS.SIGN_ME_OUT'|translate}}
            </button>
            <button type="button" class="btn btn-mosaico-primary-outline ms-7" (click)="activeModal.dismiss(false)">
              {{'SUBSCRIPTION_TO_NEWSLETTER.ACTIONS.CANCEL'|translate}}
            </button>
          </ng-container>
        </div>
      </div>

    </ng-template>
  </ng-container>

  <ng-container *ngIf="showConfirmationSubscribing === true || showConfirmationUnsubscribing === true">

    <div class="modal-body">
      <div class="div-body">
        <p class="h3 text-center mb-15">

          <ng-container *ngIf="showConfirmationSubscribing === true">
            {{(isAuthorized === true ? 'SUBSCRIPTION_TO_NEWSLETTER.MESSAGES.INFO_SUBSCRIBED_TO_NEWSLETTER_LOGGED_IN' : 'SUBSCRIPTION_TO_NEWSLETTER.MESSAGES.INFO_SUBSCRIBED_TO_NEWSLETTER_NOT_LOGGED_IN') |translate}}
          </ng-container>

          <ng-container *ngIf="showConfirmationUnsubscribing === true">
            {{'SUBSCRIPTION_TO_NEWSLETTER.MESSAGES.INFO_UNSUBSCRIBED_TO_NEWSLETTER'|translate}}
          </ng-container>

        </p>
      </div>
    </div>

    <div class="modal-footer mx-auto">
      <button type="button" class="btn btn-mosaico-primary" (click)="closeModal()">
        OK
      </button>
    </div>

  </ng-container>

</div>

