<div class="section-width-full">
  <div class="section-otm">

    <div class="row">

      <div class="col-12">
        <h2 class="section-title">{{'OTM.title' | translate}}</h2>
      </div>

      <div class="col-12">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-8 order-1 order-sm-2 order-md-1">

            <p class="name-rahim">Rahim Blak</p>
            <p class="position-rahim">CEO</p>
            <p class="desc-rahim">
              {{'OTM.desc_Rahim' | translate}}
            </p>

            <div class="icons-rahim d-flex justify-content-start">

              <div class="pe-3 social-icon">
                <a href="https://www.facebook.com/1rahimblak" title="Faceoook" target="_blank" rel="nofollow noopener"
                  id="rahim-fa-fb"
                >
                  <i class="fab fa-facebook-f fa-sm"></i>
                </a>
              </div>

              <div class="px-3 social-icon">
                <a href="https://www.instagram.com/rahimblak/" title="Instagram" target="_blank" rel="nofollow noopener"
                  id="rahim-fa-instagram"
                >
                  <i class="fab fa-instagram fa-sm"></i>
                </a>
              </div>

              <div class="px-3 social-icon">
                <a href="https://www.linkedin.com/in/rahimblak" title="LinkedIn" target="_blank" rel="nofollow noopener"
                  id="rahim-fa-linkedin"
                >
                  <i class="fab fa-linkedin-in fa-sm"></i>
                </a>
              </div>

              <div class="px-3 social-icon">
                <a href="https://twitter.com/RahimBlak" title="Twitter" target="_blank" rel="nofollow noopener"
                  id="rahim-fa-twitter"
                >
                  <i class="fab fa-twitter fa-sm"></i>
                </a>
              </div>

              <div class="px-3 social-icon">
                <a href="https://rahimblak.com/" title="RahimBlak.com" target="_blank" rel="nofollow noopener"
                  id="rahim-fa-rb"
                >
                  <i class="far fa-window-restore fa-sm"></i>
                </a>
              </div>

              <div class="ps-3 social-icon">
                <a href="https://www.youtube.com/channel/UC7jHoiixGmZKRf37P2J5zsQ" title="YouTube" target="_blank" rel="nofollow noopener"
                  id="rahim-fa-yt"
                >
                  <i class="fab fa-youtube fa-sm"></i>
                </a>
              </div>

            </div>

          </div>

          <div class="col-12 col-md-4 order-2 order-sm-1 order-md-2">
            <div class="div-img-rahim">
              <img src="assets/media/our-team/RahimBlak.png" alt="" class="img-fluid" title="" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mt-8">

        <div class="row d-flex justify-content-center">

          <div class="col-12 col-sm-6 col-md-auto">
            <div class="img-and-name-position">
              <div class="img-and-name-position-in">
                <img src="assets/media/our-team/DmytroMorozov.png" alt="" class="img-team img-fluid" title="" />
                <div class="name-position">
                  <p class="name">Dmytro Morozov</p>
                  <p class="position">Chief Technical Officer</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-auto">
            <div class="img-and-name-position">
              <div class="img-and-name-position-in">
                <img src="assets/media/our-team/RafalPaciorek.png" alt="" class="img-team img-fluid" title="" />
                <div class="name-position">
                  <p class="name">Rafał Paciorek</p>
                  <p class="position">Chief Financial Officer</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-auto">
            <div class="img-and-name-position">
              <div class="img-and-name-position-in">
                <img src="assets/media/our-team/RadoslawOrdyniec.png" alt="" class="img-team img-fluid" title="" />
                <div class="name-position">
                  <p class="name">Radosław Ordyniec</p>
                  <p class="position">Chief Sales Officer</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-auto">
            <div class="img-and-name-position">
              <div class="img-and-name-position-in">
                <img src="assets/media/our-team/WojciechKaszycki.png" alt="" class="img-team img-fluid" title="" />
                <div class="name-position">
                  <p class="name">Wojciech Kaszycki</p>
                  <p class="position-advisor">Advisor, Founder of Mobilum</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-auto">
            <div class="img-and-name-position">
              <div class="img-and-name-position-in">
                <img src="assets/media/our-team/SlawekZawadzki.png" alt="" class="img-team img-fluid" title="" />
                <div class="name-position">
                  <p class="name">Sławek Zawadzki</p>
                  <p class="position-advisor">Advisor, CEO Kanga Exchange</p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>
</div>
