<div class="div-main d-flex justify-content-center align-items-center">
  <div>
    <h3>ERROR 401</h3>
    <h5>{{'ERROR_401.TITLE' | translate}}</h5>

    <div class="line"></div>

    <div class="description">
      {{'ERROR_401.DESCRIPTION.TEXT' | translate}}
      <ul>
        <li>{{'ERROR_401.DESCRIPTION.LI_1' | translate}}</li>
        <li>{{'ERROR_401.DESCRIPTION.LI_2' | translate}}</li>
        <li>{{'ERROR_401.DESCRIPTION.LI_3' | translate}}</li>
        <li>{{'ERROR_401.DESCRIPTION.LI_4' | translate}}</li>
        <li>{{'ERROR_401.DESCRIPTION.LI_5' | translate}}</li>
        <li>{{'ERROR_401.DESCRIPTION.LI_6' | translate}}</li>
      </ul>
    </div>

    <div class="text-center text-sm-start">
      <button class="btn btn-mosaico-primary" type="button" (click)="backClicked()">
        {{'ERROR_401.BUTTON' | translate}}
      </button>
    </div>

  </div>
  <div class="text-center">
    <img src="assets/media/page/triangles.svg" alt="" class="img-fluid" title="Error 401" />
  </div>
</div>
