<div class="section-ma">

  <h2 class="section-title text-warning">
    {{'DT.title' | translate}}
  </h2>

  <div class="section-team">
    <div class="row">


      <div class="col-sm-6 col-md-3 col-lg-3 text-center mt-8" *ngFor="let team of teams">
        <div class="border bg-white py-5">
          <div class="symbol symbol-circle symbol-150px">
            <div style="background-image:url({{team.photoUrl}})" class="symbol-label"></div>
          </div>
          <div class="pt-3 fs-2 fw-bold">{{team.name}}</div>
          <div class="text-muted">{{team.position}}</div>
          <div class="mt-3 h-20px">
            <a href="{{team.linkedin}}" target="_blank" *ngIf="team.linkedin">
              {{'DT.view' | translate}} <i class="bi bi-linkedin fs-4 me-2"></i>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
