<div class="d-flex flex-column align-items-center align-items-lg-start">
    <p class="meet-team-follow-us">{{ 'FOLLOW_US' | translate }}</p>
    <div class="d-flex gap-0 gap-sm-7 justify-content-between justify-content-sm-center justify-content-lg-start w-100">
        <ng-container *ngFor="let link of socialMediaIcons">
            <a [href]="link.href | translate" target="_blank" rel="noopener"><img [src]="'/assets/media/social-link/' + link.icon + '.svg'" alt="social-link"></a>
        </ng-container>
    </div>
</div>
