<div class="row mb-5">
    <div class="col-12">
        <h3 class="h4 mb-2">Finances</h3>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12">
        <div class="form-group mb-3">
            <label for="project-fee">Fee</label>
            <input name="project-fee" type="number" class="form-control" [(ngModel)]="currentProjectFee" />
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12">
        <button class="btn btn-mosaico-primary" (click)="save()">Save</button>
    </div>
</div>