<div class="text-url-documents">

  <a target="_blank" rel="noopener"
    id="contact-link-legalinfo"
  >
    {{'FOOTER.doc.legal_info' | translate}}
  </a>

  <span class="line"></span>

  <a href="https://v1.mosaico.ai/assets/pdf/Regulamin_platformy_MOSAICO_11_2019.pdf" target="_blank" rel="noopener"
    id="contact-link-regulation"
  >
    {{'FOOTER.doc.regulation' | translate}}
  </a>

  <span class="line"></span>

  <a [href]="'FOOTER.white_paper_link' | translate" target="_blank" rel="noopener"
    id="contact-link-white-paper"
  >
    {{'FOOTER.doc.white_paper' | translate}}
  </a>

  <span class="line"></span>

  <a href="https://v1.mosaico.ai/assets/pdf/Polityka_prywatnosci_09_2020.pdf" target="_blank" rel="noopener"
    id="contact-link-privacy-policy"
  >
    {{'FOOTER.doc.privacy_policy' | translate}}
  </a>

  <span class="line"></span>
  <span class="br-line"></span>

  <a href="https://v1.mosaico.ai/assets/pdf/Creative_Commons_CC_-_BY_4_0_Mosaico_10_2020.pdf" target="_blank" rel="noopener"
    id="contact-link-license-cc"
  >
    {{'FOOTER.doc.license_CC' | translate}}
  </a>

  <!-- <span class="line"></span>
  <span class="br-line"></span>

  <a href="https://v1.mosaico.ai/assets/pdf/Creative_Commons_CC_-_BY_4_0_Mosaico_10_2020.pdf" target="_blank" rel="noopener"
    id="contact-link-license-cc"
  >
    {{'FOOTER.doc.t_c' | translate}}
  </a> -->

  <!-- <a [routerLink]="['/', currentLang,'about-us']"
    class="d-none mb-3 mb-md-1"
    id="about-us"
    >
        About Mosaico
  </a> -->
</div>
