<ng-container *ngIf="usedForm === false; else dontShowForm">

  <ng-container *ngIf="!formSubmitted">

    <div class="row py-1" *ngIf="showResetError()">
      <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <span *ngIf="resetError">{{ 'auth.reset.password.form_error' | translate }}</span>
          <span *ngIf="resetCaptchaError">{{ 'auth.login.captcha.error' | translate }}</span>
        </div>
      </div>
    </div>

    <form [formGroup]="resetPasswordForm" (submit)="submitForm()">

      <div class="input-group">
        <label for="email" class="float-left text-dark">{{ 'auth.reset.password.email.label' | translate }}</label>

        <div class="input-group">
          <input type="email" name="email" id="email" formControlName="email"
                  class="form-control"
                  placeholder="{{ 'auth.reset.password.email.placeholder' | translate }}"
                  tabindex="1"
                  [ngClass]="{ 'is-invalid' : hasError('email') }">

          <div class="invalid-feedback text-left">
            {{ 'auth.login.field.error' | translate }}
          </div>
        </div>
      </div>

      <div class="input-group mb-0">
        <label for="password" class="float-left text-dark">
          {{ 'auth.reset.password.password.label' | translate }}
        </label>

        <div class="input-group">
          <input type="password" name="password" id="password" formControlName="password"
                 class="password-field form-control"
                 placeholder="{{ 'auth.reset.password.password.placeholder' | translate }}"
                 tabindex="2"
                 [ngClass]="{ 'is-invalid' : hasError('password') }">

          <div id="password-toggler" class="inner-icon password-toggler password-toggle-icon"
               [ngClass]="{ 'is-invalid' : hasError('password') }" (click)="show_hide_password($event)">
            <i class="fas fa-eye-slash password-toggler-icon"></i>
          </div>

          <div class="invalid-feedback text-left" *ngIf="hasError('password')">

            <div *ngIf="password.hasError('required')">
              {{ 'auth.register.field.required' | translate }}
            </div>

            <div *ngIf="password.hasError('minlength')">
              {{ 'auth.register.invalid.minLength' | translate }}
            </div>

            <div *ngIf="hasError('password') && !password.hasError('required')">

              <span *ngIf="!isEngLang(); else engRequirements"
                    [innerHTML]="'auth.register.invalid.requirements' | translate :{ 'capital_letter': '<b>dużą literę</b>', 'digit': '<b>cyfrę</b>' }">
              </span>
              <ng-template #engRequirements>
                <span [innerHTML]="'auth.register.invalid.requirements' | translate :{ 'capital_letter': '<b>capital letter</b>', 'digit': '<b>digit</b>' }"></span>
              </ng-template>

            </div>

          </div>

        </div>
      </div>

      <div class="input-group">
        <label for="confirmPassword" class="float-left text-dark">{{ 'auth.reset.password.confirm.password.label' | translate }}</label>

        <div class="input-group">
          <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword"
                  class="password-field form-control"
                  placeholder="{{ 'auth.reset.password.confirm.password.placeholder' | translate }}"
                  tabindex="3"
                  [ngClass]="{ 'is-invalid' : hasError('confirmPassword') || !checkPasswordsValid() }">

          <div id="confirm-password-toggler" class="inner-icon password-toggler password-toggle-icon"
               [ngClass]="{ 'is-invalid' : hasError('password') }" (click)="show_hide_password($event)">
            <i class="fas fa-eye-slash password-toggler-icon"></i>
          </div>

          <div class="invalid-feedback text-left" *ngIf="hasError('confirmPassword') || !passwordsHaveSameValue">
            {{ 'auth.register.invalid.confirm' | translate }}
          </div>

        </div>
      </div>

      <div class="input-group">
          <button type="submit"
                  class="btn btn-primary-custom btn-md btn-block text-center"
                  [disabled]="!resetPasswordForm.valid || !resetRequestFinished || !passwordsHaveSameValue">
            {{ 'auth.reset.password.reset' | translate }}
            <span [hidden]="resetRequestFinished">
              <i class="fa fa-spinner fa-spin"></i>
            </span>
          </button>
      </div>
    </form>

    <p class="text-inverse pt-2 text-left">
      <a [routerLink]="['/auth/login']" rel="noopener"> << {{ 'auth.reset.password.back' | translate }} {{ 'auth.reset.password.back_login' | translate }}</a>
    </p>

  </ng-container>

  <ng-container *ngIf="formSubmitted">
    <div class="h6">
      <span *ngIf="resetSuccess">{{ 'auth.reset.password.success_text' | translate }}</span>
      <span *ngIf="resetError">{{ 'auth.reset.password.error_text' | translate }}</span>
      <p class="text-inverse pt-5 text-left" *ngIf="resetSuccess || resetError">
        <a class="btn btn-primary-custom btn-block" [routerLink]="['/auth/login']" rel="noopener"> << {{ 'auth.reset.password.back' | translate }} {{ 'auth.reset.password.back_login' | translate }}</a>
      </p>
    </div>

    <p class="text-inverse b-b-default text-left p-b-5 p-t-15"></p>

  </ng-container>

</ng-container>

<ng-template #dontShowForm>

  <p class="mb-5 text-danger">{{ 'auth.reset_password.usedForm1' | translate }}</p>

  <a class="btn btn-primary-custom btn-block" [routerLink]="['/auth/forgot']" rel="noopener">{{ 'auth.reset_password.usedForm2' | translate }}</a>

</ng-template>

