<div class="row mb-5">
    <div class="col-12">
        <div class="company-menu">
            <div class="projects-btn-menu">
                <button class="btn btn-menu" routerLinkActive="active" routerLink="dashboard"
                    fragment="settings">Dashboard</button>
                <button class="btn btn-menu" routerLinkActive="active" routerLink="transactions"
                    fragment="settings">Transactions</button>
                <button class="btn btn-menu" routerLinkActive="active" routerLink="investors"
                    fragment="settings">Investors</button>
                <button class="btn btn-menu" routerLinkActive="active" routerLink="airdrops"
                    fragment="settings">Airdrops</button>
                <button class="btn btn-menu" routerLinkActive="active" routerLink="affiliation"
                    fragment="settings">Affiliation</button>
                <button class="btn btn-menu" routerLinkActive="active" routerLink="tokenomy"
                    fragment="settings">Tokenomy</button>
                <button class="btn btn-menu" routerLinkActive="active" routerLink="certificate-generator"
                    fragment="settings">Certificate generator</button>
                <button class="btn btn-menu" routerLinkActive="active" routerLink="members"
                    fragment="settings">Members</button>
                <button class="btn btn-menu" routerLinkActive="active" routerLink="configuration"
                    fragment="settings">Configuration</button>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
