<div class="section-ma">

  <h2 class="section-title">
    {{'MA.title' | translate}}
  </h2>

  <div class="section-text">
    <p>
      {{'MA.desc_1' | translate}}<br class="d-none d-lg-block" />
      <span class="fw-bold">{{'MA.desc_2' | translate}}</span>
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <!-- <img src="assets/media/mainpage/button-app-store.svg" alt="" class="img-fluid" title="" /> -->
    <!-- <img src="assets/media/mainpage/button-google-play.svg" alt="" class="img-fluid ms-5" title="" /> -->
    <img src="assets/media/mainpage/button-app-store-grey.svg" alt="" class="img-fluid " />
    <img src="assets/media/mainpage/button-google-play-grey.svg" alt="" class="img-fluid ms-5" />

  </div>
  <div class="">
    <img src="assets/media/mainpage/screen-mobile-2.png" alt="" class="img-fluid" title="" />
  </div>

</div>
