.card {
    padding: 16px !important;
}
.ck-content * {
    line-height: 1.6;
}
.ck-content .table thead {
    display: table-row-group;
}
.ck-content .table tr {
    break-inside: avoid;
    break-after: auto;
}

.ck-content ::ng-deep .add-image-btn {
    bottom: 30px;
    right: 10%;
    position: absolute;
    color: #0063F5;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    width: 80%;
    border: 2px solid #0063F5 !important;
    border-radius: 5px;

    @media screen and (max-width: 620px) {
        bottom: 10px;
        padding: 4px !important;
        width: 60%;
        right: 20%;
        font-size: 12px;
    }

    @media screen and (max-width: 430px) {
        padding: 2px !important;
        width: 20%;
        
        span {
            display: none;
        }
    }
}