.article-cover-picture {
  max-width: none;
  width: 100%;
  height: 144px;
  max-height: 144px;
  object-fit: cover;
  border-radius: 8px;

  @media (min-width: 576px) {
    width: 198px;
    max-width: 198px;
    height: 158px;
    max-height: 158px;
  }

  @media (min-width: 992px) {
    height: 160px;
    max-height: 160px;
    width: 187px;
    max-width: 187px;
  }

  &.article-img-blank {
    border: 1px solid #C0BEBE;
    text-align: center;
    color: #979797;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    &:focus {
      outline: none;
    }
  }

  &.article-add-img {
    width: 100%;
    height: 108px;
    max-height: 108px;

    @media (min-width: 576px) {
      width: 198px;
      max-width: 198px; 
    }
  }
}

.form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.link-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #494642;
  padding: 12px;
  min-height: 64px;

  @media (min-width: 576px) {
    min-height: 0;
  }
}

.form-control {
  border: 1px solid #C0BEBE;
}

.visible-textarea {
  height: auto;
  resize: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #494642;
  padding: 12px;
  min-height: 108px;

  @media (min-width: 992px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.invalid-feedback {
  position: absolute;
}

.textarea-counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #979797;
  position: absolute;
  right: 14px;
  bottom: 8px;
}

.article-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #494642;
}

.btn-close.close-modal {
  position: absolute;
  right: 9px;
  top: 7px;

  @media (min-width: 576px) {
    right: 13px;
    top: 12px;
  }
}

.camera-icon {
  position: absolute;
  bottom: 11px;
  right: 15px;
  background: #F3F2F2;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  border: 1px solid #C0BEBE;
  cursor: pointer;

  ::ng-deep svg {
    height: 16px;
  }
}
