<div class="modal-content mosaico-modal">
    <div class="modal-header">
        <h5 class="modal-title">{{'MODALS.PROJECT_LOGO_EDITOR.TITLE'|translate}}</h5>
        <div class="close-button-container">
            <button class="btn btn-icon btn-sm btn-active-light-dark ms-2"
              [disabled]="dataSavingRequestInProgress === true"
              (click)="closeModal()" aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <app-image-cropper-local
                  [isRemovable]="false"
                  [currentImgUrl]="currentImgUrl"
                  [addPhotoText]="'MODALS.PROJECT_LOGO_EDITOR.ACTIONS.ADD'|translate"
                  [changePhotoText]="'MODALS.PROJECT_LOGO_EDITOR.ACTIONS.CHANGE'|translate"
                  [currentFormMode]="currentFormMode"
                  [aspectRatio]="1 / 1"
                  [roundCropper]="true"
                  (editingIsInProgressEvent)="editingIsInProgress($event)"
                  (editingCancelEvent)="editingCancel()"
                  [imageCropperClass]="['size-scaling-photo']"
                ></app-image-cropper-local>
            </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="isEditingIsInProgress === false">
      <app-button-save
        [buttonId]="'btn-save-modal-profile'"
        [classes]="'btn btn-mosaico-primary'"
        [formInvalid]="addingStarted === false"
        [showSpinner]="dataSavingRequestInProgress === true"
        [buttonText]="'BUTTONS.btn.save' | translate"
        (clicked)="savePhoto()"
      ></app-button-save>
      <button type="button" class="btn btn-mosaico-primary-outline"
          [disabled]="dataSavingRequestInProgress === true"
          (click)="activeModal.dismiss()">{{'BUTTONS.btn.cancel' | translate}}</button>
    </div>
</div>
