<div id="contact-our-team" class="section-width-full">
  <div class="section-cos">

    <div class="row">

      <div class="col-12">
        <h2 class="section-title">{{'CONTACT_OUR_SALES_TEAM.title' | translate}}</h2>
      </div>

      <div class="col-12">

        <div class="row d-flex justify-content-center">

          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="img-and-name-position">
              <div class="img-and-name-position-in">
                <img src="assets/media/our-team/RadoslawOrdyniecS.png" alt="" class="img-team img-fluid" title="" />
                <div class="name-position">
                  <p class="name">Radosław Ordyniec</p>
                  <p class="position">Issuer Management</p>
                  <p class="phone"><i class="fas fa-phone-alt fa-lg"></i>+48 530 979 330</p>
                  <p class="email"><i class="far fa-envelope fa-lg"></i>
                    <a href="mailto:radek@mosaico.ai" rel="noopener"
                      id="email-contact-radek"
                      class="font-weight-bold btn-click">
                      radek@mosaico.ai
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="img-and-name-position">
              <div class="img-and-name-position-in">
                <img src="assets/media/our-team/PrzemyslawKolazinskiS.png" alt="" class="img-team img-fluid" title="" />
                <div class="name-position">
                  <p class="name">Przemysław Kołaziński</p>
                  <p class="position">Investor Management</p>
                  <p class="phone"><i class="fas fa-phone-alt fa-lg"></i>+48 530 819 851</p>
                  <p class="email"><i class="far fa-envelope fa-lg"></i>
                    <a href="mailto:przemek@mosaico.ai" rel="noopener"
                      id="email-contact-przemek"
                      class="font-weight-bold btn-click">
                      przemek@mosaico.ai
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>
</div>
