.wallet-card {
    box-sizing: border-box;
    border-radius: 10px;
}
.company-items-card {
    margin-top: 24px;
    box-sizing: border-box;
    border-radius: 6px;

    @media (min-width: 768px) {
        margin-top: 32px;
    }

    .nav-tabs {
        border: none;

        li.nav-item {
            border: none;
            a.nav-link {
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                color: #979797;
                border: none;
                &.active {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 16px;
                    color: #494642;
                }
            }
        }
    }
}